= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .container.user-new{ action: '' }
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h2 Edit User

          .user-name_image.row
            .user-name.col-md-10
              = f.text_field :name, placeholder: 'Username', autofocus: true

            .media
              .user-image
                = image_tag(current_user.avatar.url, alt: '64x64', data: { holder: { rendered: 'true' }}, id: 'user_thumbnail', class: 'media-object', style: 'width: 72px; height: 72px; border-radius: 100%;')
                %button.btn.btn-primary Add image
                = f.file_field :avatar, accept: 'image/*', onchange: "openFile(event, 'user_thumbnail')"

          .user-email= f.email_field :email, placeholder: 'E-Mail'

          .col-md-12
          %h4 Profile
          .user-user-profile.row
            .user-name.col-md-12
              = f.text_area :profile, placeholder: 'Profile'

          .col-md-12
          %h4 Position
          .user-user-member.row
            .user-name.col-md-12
              = f.text_area :position, placeholder: 'Position'

          %h4 Works
          .user-name_image.row
            .user-name.col-md-12
              = f.text_area :occupation, placeholder: 'Works'
          .row.text-center.user-btn
            .form-actions
              = f.submit value: 'Save', class: "button btn btn-lg btn-primary btn-block"
