<div id="login_display">
  <div id="login_form">
    <h2>ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "ログイン", id: "sign_up_btn" %>
      </div>
    <% end %>
  </div>
</div>
