.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          
        .media-body
          %h4#top-aligned-media.media-heading
            Top aligned media
          .proto-user
            = link_to 'by User', ''
            %span.degree we-b inc. Designer
              
    .col-md-6.text-right
      %button.btn.btn-default
        = image_tag("icon_heart.svg")
        Like
        %span.num 20
  .row
    .col-md-9
      = image_tag("sample.png", class: 'img-responsive')
    .col-md-3
      %ul.proto-sub-list.list-group
        %li.list-group-item
          = image_tag("sample.png", class: 'img-responsive')
        %li.list-group-item
          = image_tag("sample.png", class: 'img-responsive')
        %li.list-group-item
          = image_tag("sample.png", class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p Type something
    .col-md-6
      %h4 Concept
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          .btn.btn-default= link_to 'iPad', '#'
        %li 
          .btn.btn-default= link_to 'wireframe', '#'
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num (10) 
    .col-md-8
      .media
        .media-left
