= form_for @proto do |f|
  .container.proto-new
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          .proto-new-title= f.text_field :title, placeholder: 'Title', autocomplete: 'off'
        = f.fields_for :proto_thumbnails do |thumbnails_f|    
          .row
            .col-md-12
              .cover-image-upload
                = thumbnails_f.file_field :main_thumbnail
            .col-md-12
              %ul.proto-sub-list.list-group
                %li.list-group-item.col-md-4
                  .image-upload
                    = thumbnails_f.file_field :sub_thumbnail1
                %li.list-group-item.col-md-4
                  .image-upload
                    = thumbnails_f.file_field :sub_thumbnail2
                %li.list-group-item.col-md-4
                  .image-upload-plus
                    %span +
        .row.proto-description
          .col-md-12
            = f.text_field :catch_copy, placeholder: 'Catch Copy', autocomplete: 'off'
            = f.text_area :concept, placeholder: 'Concept', cols: '30', rows: '4', autocomplete: 'off'
          .col-md-12
            %h4 Tag List
            .row
              .col-md-3
                %input{ type: 'text', placeholder: 'Web Design' }/
              .col-md-3
                %input{ type: 'text', placeholder: 'UI' }/
              .col-md-3
                %input{ type: 'text', placeholder: 'Application' }/
        .row.text-center.proto-btn
          = f.submit 'Publish', class: 'btn btn-lg btn-primary btn-block'
