- if @like.empty?
  = button_tag class: 'btn btn-default' do
    = link_to prototype_likes_path(@prototype.id), method: :post, remote: true do
      = image_tag('icon_heart.svg')
      Like
      %span.num= @likes.size
- else
  = button_tag class: 'btn btn-danger' do
    = link_to prototype_likes_path(@prototype.id), method: :post, remote: true do
      = image_tag('icon_heart.svg')
      Like
      %span.num= @likes.size
