.col-sm-4.col-md-3.proto-content
  .thumbnail
    = link_to tag_path(tag) do
      = button_tag "#{tag.name}", class: 'btn btn-tag'
    .tag-meta
      = link_to tag_path(tag), class: 'label label-default tag-list-number' do
        %i "#{tag.taggings.count}" Projects
