.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: 'PROTO TYPE - SHARE THE PROTOTYPE', height: '73px')

= render partial: 'prototypes/sort'

.container.proto-list
  .row
    .col-sm-12
      .thumbnail
        = button_tag "#{@tag.name}", class: 'btn btn-tag'
        .tag-meta
          = link_to tag_path(@tag), class: 'label label-default tag-list-number' do
            %i "#{@tag.taggings.count}" Projects

#prototypes
  .container
    .row
      .page
        = render partial: 'prototypes/prototype', collection: @prototypes

= paginate @prototypes
